<div class="form_wrapper">
  <p>ルーム予約</p>
  <%= form_with model: @reserve do |f|%>
    <div class="form_content">
      <p><%= f.date_field :start_day, value: params[:start_day] %></p>
    </div>
    <div class="form_content">
      <p><%= f.date_field :end_day, value: params[:end_day] %></p>
    </div>
    <div class="form_content">
      <p><%= f.text_field :number_of_people, value: params[:number_of_people] %></p>
    </div>
    <div>
      
    <p>合計金額　<%= (params[:end_day].to_date - params[:start_day].to_date).to_i * @room.price * params[:number_of_people].to_i%>
    </div>
    <%= f.hidden_field :user_id, value: params[:user_id]%>
    <%= f.hidden_field :room_id, value: params[:room_id]%>
    
    <%= f.submit "予約確定", :class => "create_btn" %>
  <% end %>
  <div>
    <%=link_to "マイページに戻る", user_path(@user) %>
  </div>
  
</div>