<div class="contents_wrapper">
  <div class="main_contents">
    <%if @rooms.present?%>
      <h2>ユーザー登録ルーム一覧 <%=@rooms.count%>件</h2>
    <%else%>
      <h2>登録ルームがありません</h2>
    <%end%>
    <div class="content_list">
      <% @rooms.each do |room|%>
        <div class="content_wrapper">
          <%= link_to room_path(room) do%>
            <div class="border">
              <div class="room_image">
                <img src="<%= room.room_image%>">
              </div>
              <div class="contents">
                <h3>ルーム名</h3>
                <%=room.name%>
                <h3>料金</h3>
                <%=room.price%>
                <h3>住所</h3>
                <%=room.address%>
              </div>
            </div>
          <%end%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="sub_menu">
    <ul>
      <li><%= link_to "マイページ", user_path(session[:id]) %></li>
      <li><%= link_to "ユーザー情報の編集", edit_user_path(session[:id]) %></li>
      <li><%= link_to "ルームの登録", new_room_path %></li>
      <li><%= link_to "登録ルーム一覧", rooms_path %></li>
      <li><%= link_to "予約ルーム一覧", reserves_path %></li>
    </ul>
  </div>
</div>